.App {
  text-align: center;
}
*{
  box-sizing: border-box;
 }
.root{
  
  height: 100%;
  background-color: lightblue;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder > .col-md-8 {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}


